<p id="notice"><%= notice %></p>

<p>
  <strong>Domain name:</strong>
  <%= @template.domain_name %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @template.domain_id %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
