<div>
   <div class="subnav">
      <div class="container">
         <ul class="subnav-list">
            <li title="Manage your domains" rel="tooltip" class="active"><a href="/a/76691/domains">Domains</a>
            </li>
            <li title="Manage your contacts" rel="tooltip"><a href="/a/76691/contacts">Contacts</a>
            </li>
            <li title="Manage custom DNS templates" rel="tooltip"><a href="/a/76691/templates">Templates</a>
            </li>
         </ul>
      </div>
   </div>
   <header class="nav-header" id="head">
      <h1><%= link_to "#{@domain.id}" %></h1>
      <h1>
        <%= link_to "#{@domain.domain_name}" %>
        
        <span class="nav-header-separator">/</span>

      <span class="nav-header-current">Add URL record</span>
      <div class="pull-right">
        <a class="btn-ghost icon-dns" rel="tooltip" title="Jump to DNS records" href="/a/76691/domains/athira.cloud/records"></a>
        <a class="btn-ghost js-domain-favorite-btn" href="/a/76691/domains/athira.cloud/favorite">
           <span class="domain-favorite-btn js-domain-favorite-star domain-favorite-false" title="Add to favorites" rel="tooltip"></span> 
         </a>      
      </div>
  </h1>
   </header>

   <div class="form" id="form">
      <h2>Add URL record</h2>
      <p>Add an URL redirection record that points your domain to a URL. This type of record uses an HTTP redirect to redirect visitors from a domain to a web site.</p>

      <fieldset>
         <%=form_for(@domain_record, :url=> url_for(:controller => 'domain_records', :action => 'create'), html: { method: :post }) do |form| %>

            <div class="form-group">
               <input type="hidden" name="domain_record[record_type]" value="<%= @record_type %>">
               <input type="hidden" name="domain_record[domain_id]" value="<%= @domain.id%>">
               <input type="hidden" name="domain_record[domain_name]" value="<%= @domain.domain_name%>">
               <label for="record_name">Name</label>
               <%=form.text_field :name %>
                  <span class="help-block">Leave this blank to create a record for <%= "#{@domain.domain_name}" %>. You may use the wildcard (*) here.</span>
            </div>

            <div class="form-group">
               <label for="record_content">Destination URL</label>
               <%=form.text_field :destination_url %>
                  <span class="help-block">Example: http://www.example.com</span>
            </div>

            <div class="form-group">
               <label for="record_ttl">TTL (Refresh Rate)</label>
               <select class="form-control input-large " name="record[ttl]" id="record_ttl">
                  <option value="60">1 minute</option>
                  <option value="600">10 minutes</option>
                  <option selected="selected" value="3600">1 hour</option>
                  <option value="7200">2 hours</option>
                  <option value="14400">4 hours</option>
                  <option value="28800">8 hours</option>
                  <option value="43200">12 hours</option>
                  <option value="86400">1 day</option>
                  <option value="259200">3 days</option>
               </select>
            </div>
      </fieldset>
      <h4>Preview</h4>
      <div class="record-preview">
         URL
         <strong><span id="name-display"></span><%= "#{@domain.domain_name}" %></strong> resolves to
         <strong><span id="content-display"></span></strong>
      </div>


      <fieldset>
         <div id="record-regions" class="form-group">
            <label for="record_region_contexts">Respond From Regions</label>

            <div class="checkbox">
               <label>
                  <input type="checkbox" name="record[regions][]" id="region-all" value="global" data-region-wildcard="true" checked="checked"> Global
               </label>
            </div>

            <hr>

            <div class="checkbox">
               <label>
                  <input type="checkbox" name="record[regions][]" id="region-sv1" value="SV1" disabled="disabled" data-region="true"> California, US
               </label>
            </div>
            <div class="checkbox">
               <label>
                  <input type="checkbox" name="record[regions][]" id="region-ord" value="ORD" disabled="disabled" data-region="true"> Illinois, US
               </label>
            </div>
            <div class="checkbox">
               <label>
                  <input type="checkbox" name="record[regions][]" id="region-iad" value="IAD" disabled="disabled" data-region="true"> Virginia, US
               </label>
            </div>
            <div class="checkbox">
               <label>
                  <input type="checkbox" name="record[regions][]" id="region-ams" value="AMS" disabled="disabled" data-region="true"> Amsterdam, NL
               </label>
            </div>
            <div class="checkbox">
               <label>
                  <input type="checkbox" name="record[regions][]" id="region-tko" value="TKO" disabled="disabled" data-region="true"> Tokyo, JP
               </label>
            </div>
         </div>

      </fieldset>
      <%=form.submit "Add record"%>

         <% end %>

            </fieldset>

   </div>
</div>
